header
{
    background-color: red;
    color: beige;
    text-align: center;
    font-size: 60pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif'
}
main
{
    background-color: palevioletred;
    color: black;
    text-align: center;
    font-size: 40pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
}
footer
{
    background-color: pink;
    color: black;
    text-align: center;
    font-size: 40pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
}